.navStack {
    display: flex;
    padding: 50;
    position: 'sticky';
    background: '#000';
    top: 0;
    justify-content: space-between;
}

.link {
    display: flex;
    align-items: center;
}